/* Reset and base styles */
* {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("imgs/cheng-lin-nDum9PC0wOg-unsplash.jpg");
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}
#container {
  width: 600px;
  background-color: transparent;
  backdrop-filter: blur(4px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(255, 192, 203, 0.514);
}
/* form style */
#formHeader {
  text-align: center;
}
#formParagraph {
  text-align: center;
}
input {
  padding-left: 15px;
  width: 100%;
  border-radius: 50px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  backdrop-filter: blur(2px);
}
#signButton {
  width: 25%;
  background-color: rgb(197, 116, 129);
  color: rgba(31, 30, 30, 0.795);
  border: transparent;
  border-radius: 50px;
  cursor: pointer;
}
#signButton:hover {
  box-shadow: 0 0 9px 0px #000000;
}
#email-error,
#pass-error {
  color: red;
  display: none;
}
